.table1 { width:800px; border:1px solid #000000;}
td { border:1px solid #000000;border-collapse: collapse;}
.td1 { background-color:#ed711e;font-size:28px;  }
#title { font-size:20pt; font-weight:700;} 


